<a href="https://colab.research.google.com/github/Abhishek-009/Innomatics-labs-april_21/blob/main/Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print Python, World!

```
# This is formatted as code
```

In [4]:
print("python, World!")

python, World!

Python If else

In [6]:
n = int(input())
if n % 2 == 1:
    print("Weird")
elif n % 2 == 0 and 2 <= n <= 5:
    print("Not Weird")
elif n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
else:
    print("Not Weird")

2
Not Weird

In [7]:
##Arithmetic Operators

if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    
   
print( a + b)
print (a - b)
print (a * b)

5
5
10
0
25

In [14]:
##Python: Division
a = int(input())
b = int(input())

print(a//b)
print(a/b)

5
4
1
1.25

In [15]:
##write a function

def is_leap(year):
    leap = False
    
    # Write your logic here
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    
    return leap
    
year = int(input())
print(is_leap(year))

2021
False

In [16]:
#Loop
n = int(input())
    
    
for i in range(n):
    print( i * i)

2
0
1

In [17]:
#print function
n = int(input())

              
for i in range(n):
   print(i+1,end="")

10
12345678910